.header p {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    position: absolute;
    right: 0;
    width: 50%;
}

p {
    color: rgba(0, 0, 255, 0.5);
    font: 180px Helvetica, Sans-Serif;
    letter-spacing: -5px;
    position: absolute;
    text-align: center;
}

p:after {
    color: rgba(255, 0, 0, 0.5);
    content: "COOL CATS!!!";
    left: 12px;
    position: absolute;
    top: 3px;
}

body {
    background-color: floralwhite;
}